@using Vanessave.Desktop.Models
<div class="@Class" @onclick="OnClick">
    <MudText Color="Color.Primary" Typo="Typo.subtitle1">@SaveInfo.SaveName</MudText>
    <MudText Typo="Typo.caption"><span>@($"{SaveInfo.StageName} ")</span><span class="mud-tertiary-text">@($"[{SaveInfo.Difficulty} {SaveInfo.ClearedCount}*]")</span></MudText>
</div>

@code {

    [Parameter, EditorRequired]
    public SaveInfo SaveInfo { get; set; } = null!;

    [Parameter]
    public EventCallback<MouseEventArgs> OnClick { get; set; }

    [Parameter]
    public string? Class { get; set; }

}