@using Vanessave.Shared.Models.Nobeta
<div class="relative" style="cursor: pointer" @onclick="OnClick">
    @* Background *@
    <div>
        <MudImage Fluid="true" Width="76" Src="@(Selected ? ItemBackgroundSelected : ItemBackground)" />
    </div>
    @* Item *@
    <div class="absolute z-10" style="top: 5px; left: 5px;">
        <MudImage Fluid="true" Width="66" Src="@ItemImages[ItemType]" />
    </div>
</div>

@code {
    [Parameter]
    public ItemType ItemType { get; set; } = ItemType.Null;

    [Parameter]
    public bool Selected { get; set; } = false;

    [Parameter]
    public EventCallback Clicked { get; set; }

    private const string ItemBackground = "_content/Vanessave.Shared/assets/items/navigation_main_ui_ItemBG.webp";
    private const string ItemBackgroundSelected = "_content/Vanessave.Shared/assets/items/navigation_main_ui_ItemSelected.webp";

    private static readonly Dictionary<ItemType, string> ItemImages = Enum.GetValues<ItemType>()
        .ToDictionary(itemType => itemType, itemType => $"_content/Vanessave.Shared/assets/items/Item_{itemType}.webp");

    private Task OnClick()
    {
        return Clicked.InvokeAsync();
    }
}