@using Vanessave.Desktop.Models
@using Vanessave.Desktop.Services
@using Vanessave.Shared.Utils
@using Vanessave.Desktop.Components.Pages
@inherits LayoutComponentBase
@inject NavigationManager Navigation
@inject WorkspacesService WorkspacesService

<MyMudThemeProvider/>
<MyMudProviders/>

<PageTitle>Vanessave</PageTitle>

<div class="page mud-layout">
    <main>
        <MudAppBar Color="Color.Primary" Fixed="false" Elevation="0">
            <MudIconButton Icon="@Icons.Material.Filled.Home" Color="Color.Inherit" OnClick="HomeButtonClick"/>
            <MudSpacer/>
            <MudText Typo="Typo.h5">Vanessave</MudText>
            <MudSpacer/>
            <MudIconButton Icon="@Icons.Custom.Brands.GitHub" Color="Color.Inherit" OnClick="GithubButtonClick"/>
        </MudAppBar>

        @Body
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code {

    private static void GithubButtonClick(MouseEventArgs obj)
    {
        ProcessUtils.OpenLinkInBrowser("https://github.com/Eveldee/Vanessave");
    }

    private void HomeButtonClick(MouseEventArgs obj)
    {
        Navigation.NavigateTo("/");
    }

}