@page "/"
@using Microsoft.Extensions.Logging
@inject  ILogger<HomePage> Logger

<MudText Typo="Typo.h2" Class="mb-6">Welcome to <span class="mud-secondary-text">Vanessave</span>!</MudText>

<MudDivider/>

<pre>
<MudText Typo="Typo.body1" Align="Align.Left">
Vanessave is a Little Witch Nobeta save editor that can edit both game saves (in save slots) and system settings (skin, achievements, bonus videos, ...).

Using Vanessave, you can edit your saves and settings using simplified tools like the <MudLink Href="/system-settings/skin-selector">Skin Selector</MudLink> or by using more advanced edit tools like the <MudLink Href="/general/extractor-packer">Save Extractor/Packer</MudLink>.

To load save and settings, you can either click on the file picker or drag-and-drop directly on any page.

After using each tool, you need to replace the original save or settings file with the new downloaded one for it to take effect.

<MudAlert Severity="Severity.Info">Save and settings files are found in the game folder, more specifically at <code>GameFolder\LittleWitchNobeta_Data\Save</code>.

You can find the <code>GameFolder</code> by going in your steam library, right click on Little Witch Nobeta 🢒 manage 🢒 browse local files.</MudAlert>
</MudText>
</pre>

@code {

    protected override void OnAfterRender(bool firstRender)
    {
        Logger.LogInformation("OnAfterRender");
    }

}
