* {
    text-wrap: wrap;
}

html {
    height: 100%;
}

body {
    height: 100%;
}

main {
    display: flex;
    flex-direction: column;
}

header.mud-appbar {
    flex: initial;
}

#main-tab-bar {
    flex: auto;
}

#main-tab-bar > .mud-tabs {
    height: 100%;
}

.d-grid {
    display: grid !important;
}

.action-button {
    align-self: center;
}